<h2>Edit User</h2>

<%= form_for(current_user, url: registration_path(resource_name), html: { method: :put, :id => "edit_user_form", :"data-parsley-validate" => "" }) do |f| %>
  <%= devise_error_messages! %>

 <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, class: 'form-control', "data-parsley-trigger" => "change", "data-parsley-minlength" => "2", required:"" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: 'form-control', "data-parsley-trigger" => "change", "data-parsley-minlength" => "2", required:"" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, id: 'email', "data-parsley-remote-validator" => 'user_email_unique', class: 'form-control email', "data-parsley-trigger" => "change", required:"" %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, class: 'form-control', "data-parsley-trigger" => "change", "data-parsley-minlength" => "3", required:"" %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, class: 'form-control', "data-parsley-trigger" => "change", "data-parsley-minlength" => "3", required:"" %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, class: 'form-control', "data-parsley-trigger" => "change", "data-parsley-minlength" => "2", required:"" %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, class: 'form-control', "data-parsley-trigger" => "change", "data-parsley-minlength" => "5", required:"" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", id: 'edit_user_password', class: 'form-control', "data-parsley-trigger" => "change", "data-parsley-minlength" => "7" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', "data-parsley-trigger" => "change", "data-parsley-equalto" => "#edit_user_password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", "data-parsley-trigger" => "change", "data-parsley-minlength" => "7", required:"" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<div class="modal"><!-- Place at bottom of page --></div>
