<%= form_tag'/users/contact_mechanics', remote: true do |f| %>

	<%= hidden_field_tag :mechanic,nil, id:"mechanic_field" %>
	<%= hidden_field_tag :job,nil, id: "job_field" %>
	<%= label_tag :subject %><span class="close_contact_user">X</span><br />
	<%= text_area_tag :subject,nil, size: "100x1", class: "subject_mechanic_contact_form" %><br>
	<%= label_tag :message %><br />
	<%= text_area_tag :message,nil, size: "100x8", class: "message_mechanic_contact_form" %><hr>
	<%= submit_tag "Send", class: "submit_mechanic_contact_form" %>
	  
<% end %>
