


<div class="vehicles_list">
	<div class="vehicles_head"><h1>Vehicles</h1></div>

	<div class="user_vehicles_list">
		<% current_user.vehicles.each do |vehicle| %>
			<%= vehicle.make %>
			<%= vehicle.model %>
		<% end %>
	</div>
</div>

<div class="users_info">
	<h3><%= current_user.first_name %>
	<%= current_user.last_name %></h3><br>
	<h4><%= current_user.email %></h4>
	
</div>
<div class="hidden edit_profile">
	<%= render 'users/registrations/edit' %>
</div>
<div class="hidden add_vehicle">
	<%= render 'vehicles/new_vehicle' %>
</div>