<!DOCTYPE html>
<html>
  <head>
    <title>Mobile</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
      <a class="navbar-brand" href="#">Logo</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
      </ul>
        <ul class="nav ">   
          <% if !user_signed_in? && !mechanic_signed_in?%>
          <div class="nav-item">
              <button class="btn btn-secondary"><%= link_to "Home", root_path %></button>
            </div>
            <div class="nav-item ">
              <ul class="dropdown test" id="user_signin">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"  aria-haspopup="true" aria-expanded="false">Log In</button>
                <div class="dropdown-menu" id="dropdown_menu1" aria-labelledby="dropdownMenuButton">
                  <div class="card" style="width: 20rem;">
                    <div class="card-block">
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#users_login" role="tab" aria-controls="users_login">Users</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#mechanics_login" role="tab" aria-controls="mechanics_login">Mechanics</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="users_login" role="tabpanel"><%= render 'users/sessions/new' %></div>
                        <div class="tab-pane" id="mechanics_login" role="tabpanel"><%= render 'mechanics/sessions/new' %></div>
                      </div>
                      <script>
                        $(function () {
                          $('#myTab a:first').tab('show')
                        })
                      </script>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            <div class="nav-item">
              <ul class="dropdown test1">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" aria-haspopup="true" aria-expanded="false">Sign Up</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                  <div class="card" style="width: 20rem;">
                    <div class="card-block">
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#users_signup" role="tab" aria-controls="users_signup">Users</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#mechanics_signup" role="tab" aria-controls="mechanics_signup">Drivers</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="users_signup" role="tabpanel"><%= render 'users/registrations/new' %></div>
                        <div class="tab-pane" id="mechanics_signup" role="tabpanel"><%= render 'mechanics/registrations/new' %></div>
                      </div>
                      <script>
                        $(function () {
                          $('#myTab a:first').tab('show')
                        })
                      </script>
                    </div>
                  </div>
                </div>
              </ul>
            </div>

            <% elsif !user_signed_in? %>
                  
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_mechanic.first_name + " " + current_mechanic.last_name %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="btn"><%= link_to "Home", root_path %></button>
                  <button class="btn"><%= link_to "Profile Page", mechanics_show_path %></button>
                  <button class="btn"><%= link_to "Log Out", destroy_mechanic_session_path, method: :delete %></button>
                </div>
              </div>

            <% else %>
                
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.first_name + " " + current_user.last_name %>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <button class="btn"><%= link_to "Profile", users_show_path %></button>
                  <button class="btn edit_profile_link">Edit Profile</button>
                  <button class="btn add_vehicle_link">Add Vehicle</button>
                  <button class="btn"><%= link_to "Check Map", users_index_path %></button>
                  <button class="btn"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></button>
                </div>
              </div>
            <% end %>
          </div>
        </ul>
      </div>
    </nav>
    
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>	

    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
 